@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

  /* primary: '#4CAF50',      // Fresh Green
          secondary: '#2196F3',    // Soft Blue
          accent1: '#FF9800',      // Warm Orange
          coolGray: '#6B7280',     // Cool Gray
          background: '#F9FAFB',   // Off White
          darkText: '#111827',     // Almost Black
          lightText: '#FFFFFF',    // White */

.primary{
  color: #4CAF50;
}
.secondary{
  color: #2196F3;
}
.accent1{
  color: #FF9800;
}
.coolGray{
  color: #6B7280;
}
.background{
  color: #F9FAFB;
}
.darkText{
  color: #111827;
}
