@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

  /* primary: '#4CAF50',      // Fresh Green
          secondary: '#2196F3',    // Soft Blue
          accent1: '#FF9800',      // Warm Orange
          coolGray: '#6B7280',     // Cool Gray
          background: '#F9FAFB',   // Off White
          darkText: '#111827',     // Almost Black
          lightText: '#FFFFFF',    // White */
body{
  font-family: "Poppins", sans-serif;
}
.primary{
  color: #4CAF50;
}
.secondary{
  color: #2196F3;
}
.accent1{
  color: #FF9800;
}
.coolGray{
  color: #6B7280;
}
.background{
  color: #F9FAFB;
}
.darkText{
  color: #111827;
}
